body{
    text-align: center;
    align-items: center;
    margin-top: 150px;
   background: url(log.jpg);
    background-size: cover;
}
h3{
    text-align: center;
    width: max-content;
    margin: auto;
    border: 2px solid rgb(210, 245, 16);
    border-radius: 10px ;
    padding: 15px;
    margin-bottom: 10px;
    font-weight: bolder;
    box-shadow: 0 0 50px -10px rgb(19, 228, 30);
    font-size: 20px;
}
.box{
    margin: auto;
    width:250px;
    padding: 15px;
    border: 2px solid rgb(6, 7, 1);
    margin: 15px;
    height: 25px;
    border-radius: 15px;
    backdrop-filter: blur(100);
    box-sizing:content-box;
    text-align: center;
    color: rgb(61, 69, 75);
    font-weight: bold;
    background:rgb(212, 198, 198);
    box-shadow: 10px 10px 50px -5px rgb(240, 111, 6);
}
#box{
    border: 2px solid rgb(1, 22, 22);
    width: max-content;
    text-align: center;
    margin: auto;
    padding: 75px;
    border-radius: 15px;
    height: 200px;
    align-items: center;
    backface-visibility: visible;
    box-shadow: 20px;
    box-shadow: 3px 3px 3px 3px rgb(126, 226, 226);
    backdrop-filter: blur(10px);

}
.button{
    border-radius: 5px;
    width: max-content;
    height: 30px;
    box-shadow: 10px 5px 50px -10px rgb(47, 241, 209);
    border: 2px solid black;
    border-radius: 10px;
    text-shadow: 10px 10px 50px -5px rgb(110, 179, 219);
}
.button:hover{
    background-color: rgb(18, 130, 235);
}